.landing-intro {
  @extend .min-vh-100;
  @extend .position-relative;

  &__cover {
    @extend .h-100;
    @extend .w-100;
    @extend .position-absolute;
    z-index: -1;

    &__image {
      @extend .h-100;
      @include wall-background();
      background-size: cover;
      background-position: center;
    }
  }

  &__flash-messages {
    position: absolute;
    width: 100%;
    top: 7rem;
  }

  &__heading {
    color: $landing-intro-heading-color;
    a {
      color: $landing-intro-heading-color;
      font-weight: 900;
    }
  }

  &__or {
    padding-right: 2rem;
    line-height: 3.5rem;
    font-size: 4rem;
  }

  &__form {
    @include material-style-text-input();
  }

  &__text {
    @extend .text-white;
    margin-top: 15px;
  }

  &__bottom {
    @extend .container;
    @extend .position-absolute;
    bottom: 10%;
  }

  &__sign-up-button {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
  }

  &__cover-text {
    @extend .float-right;
    @extend .text-white;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  @include media-breakpoint-only(xs) {
    &__bottom {
      width: auto;
    }
  }
}