.publish-blog {
  &__preview-img-placeholder {
    height: 350px;
    position: relative;
    span {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 42%;
      padding: 0 3rem;
    }
  }

  &__preview-img {
    height: 350px;
  }

  &__invalid-attr {
    .publish-blog__label {
      color: map_get($theme-colors, danger);
      border-bottom-color: map_get($theme-colors, danger) !important;
    }
  }

  &__schedule-form-wrapper {
    @include material-style-text-input($color: $gray-600, $border-color: $gray-500, $placeholder-color: $gray-400);
  }
}