<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text sign-in-modal__input-group" id="basic-addon1"><i class="fas fa-user"></i></span>
    </div>
    <%= f.text_field :email, autofocus: true, class: 'form-control sign-in-modal__form-field', placeholder: 'Email/Username', id: nil %>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text sign-in-modal__input-group" id="basic-addon1"><i class="fas fa-lock"></i></span>
    </div>
    <%= f.password_field :password, class: 'form-control sign-in-modal__form-field', placeholder: 'Password', id: nil %>
  </div>
  <%= f.submit 'LOGIN', class: 'btn btn-outline-primary btn-block' %>
<% end %>