<!-- Main Navigation -->
<header class="stick-top">
  <!-- Transparent Navbar -->
  <nav class="navbar navbar-expand-lg navbar--landing">
    <div class="container">
      <!-- Navbar brand -->
      <a href="/" class="navbar-brand w-lg-25 w-md-40 w-60 font-size-5">
        Mr.Draper
      </a>

      <div class="justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link text-white font-weight-light">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Landing Intro -->
  <div class="landing-intro">
    <div class="landing-intro__cover">
      <div class="landing-intro__cover__layer">&nbsp;</div>
      <div class="landing-intro__cover__image"></div>
    </div>
    <div class="container">
      <div class="space-6"></div>
      <div class="landing-intro__center">
        <h1 class="mb-5">Write your first Story</h1>
        <div class="row">
          <div class="offset-3 col align-self-end">
            <div class="d-flex">
              <span class="text-primary landing-intro__or">Or</span>
              <%= form_tag '#', method: :get, class: 'landing-intro__form w-100' do %>
                <%= text_field_tag :q, nil, class: 'form-control form-control-lg rounded-0', placeholder: "Explore, how world is writing there experience" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-intro__bottom">
        <button class="btn btn-primary btn-lg landing-intro__sign-up-button" data-toggle="modal"
                data-target="#signInModal">Register Now</button>
        <p class="landing-intro__cover-text">
          Share your amazing <strong>Experience</strong> with the world
        </p>
      </div>
    </div>
  </div>
</header>