.navbar {
  li.nav-item a {
    transition: all 0.3s;
    &:hover {
      color: map_get($theme-colors, primary);
    }
  }

  &--landing {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
  }

  .dropdown-menu {
    width: 200px;
  }
}