%nav(class="navbar navbar--header fixed-top navbar-expand-lg navbar-light bg-primary ")
  .container
    %a(href="/" class="navbar-brand glow text-white") Mr.Draper
    %button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#applicationNavbar" aria-controls="applicationNavbar" aria-expanded="false" aria-label="Toggle navigation")
      %span(class="navbar-toggler-icon")
    %div(class="collapse navbar-collapse" id="applicationNavbar")
      %ul.navbar-nav.mr-auto
        - if content_for?(:left_navigation_list)
          = yield(:left_navigation_list)

      %ul.navbar-nav.ml-auto
        - if content_for?(:right_navigation_list)
          = yield(:right_navigation_list)
        - if person_signed_in?
          = render 'layouts/components/signed_in_profile_dropdown'
        - else
          %li.nav-item
            = link_to 'Login', new_person_session_path, class: 'nav-link text-white font-weight-light'

